{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Did you Know?</title>
    <link rel="stylesheet" href="{%static 'css/base.css' %}">
    <link rel="icon" href="{% static 'images/favicon_NV.ico' %}">
</head>
<body class="light-mode" style="background-color: #F7CFD8; color: white;">

    {% include 'app/navbar.html' %}

    {% if user.is_authenticated %}
    <p>WELCOME {{user.username}}</p>
    <form method="post" action="{% url 'logout' %}">
        {% csrf_token%}
        <button type="submit">log out</button>
    </form>
    {% else %}
    <p>You are not logged in </p>
    <a href="{% url 'login' %}">LOGIN</a>
    {% endif %}
    {% block content %}
            <!--pages-->


    {% endblock content %}


    <script src="{% static 'js/base.js' %}"></script>
</body>
</html>